<div class="header non-selectable ">
  <h2>Configuración de Ciclo Escolar</h2>
</div>

<form class="m-3 non-selectable ">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput readonly [matDatepicker]="finicio" (dateInput)="changeFechaInicio('input', $event)" (dateChange)="changeFechaInicio('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="finicio"></mat-datepicker-toggle>
        <mat-datepicker #finicio></mat-datepicker>
        <mat-hint align="end">Seleccione</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Fin</mat-label>
        <input matInput readonly [matDatepicker]="ffin"  (dateInput)="changeFechaFinal('input', $event)" (dateChange)="changeFechaFinal('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="ffin"></mat-datepicker-toggle>
        <mat-datepicker #ffin></mat-datepicker>
        <mat-hint align="end">Seleccione</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <button class="mr-3" mat-raised-button color="primary" (click)="buscar()">Buscar</button>
    </div>
  </div>

  <br>

  <table #table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
    <!-- idCicloEscolar Column -->
    <ng-container matColumnDef="idCicloEscolar">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element" (click)="buscarRegistroSeleccionado(element.idCicloEscolar)"> {{element.idCicloEscolar}} </td>
    </ng-container>

    <!-- nombreCiclo Column -->
    <ng-container matColumnDef="nombreCiclo">
      <th mat-header-cell *matHeaderCellDef> Ciclo Escolar </th>
      <td mat-cell *matCellDef="let element" (click)="buscarRegistroSeleccionado(element.idCicloEscolar)"> {{element.nombreCicloEscolar}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha Inicio  </th>
      <td mat-cell *matCellDef="let element" (click)="buscarRegistroSeleccionado(element.idCicloEscolar)"> {{element.fechaInicio  | date: 'dd/MM/yyyy'}}  </td>
  </ng-container>

  <ng-container matColumnDef="fechaFinal">
      <th mat-header-cell *matHeaderCellDef> Fecha Fin  </th>
      <td mat-cell *matCellDef="let element" (click)="buscarRegistroSeleccionado(element.idCicloEscolar)"> {{element.fechaFinal  | date: 'dd/MM/yyyy'}}  </td>
  </ng-container>

  <ng-container matColumnDef="activo">
    <th mat-header-cell *matHeaderCellDef> Activo  </th>
    <td mat-cell *matCellDef="let element" (click)="buscarRegistroSeleccionado(element.idCicloEscolar)">
      <mat-checkbox name="activociclo"  disabled  [class.mat-checkbox-disabled]="false" [checked]="element.activo === true"  >  </mat-checkbox>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)"
      [ngClass]="(IdRegistroSeleccionado == 0)?'':{hovered: row.hovered, highlighted: selection.isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
    </tr>

  </table>

  <div  style="text-align: center;" class="mat-row cdk-row ng-star-inserted hovered mat-elevation-z8" *ngIf="ELEMENT_DATA.length === 0">
    <p>&nbsp;</p>
    <p>No hay datos. Realice una búsqueda para listar contenido</p>
    <p>&nbsp;</p>
  </div>
<!-- Angular 8 pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

  <br>

  <div class="row justify-content-md-center">
    <div appearance="fill">
      <button class="mr-3" mat-raised-button color="primary" (click)="nuevo()" >Nuevo</button>
    </div>
    <div appearance="fill">
      <button [disabled]="IdRegistroSeleccionado == 0"  (click)="editar()" class="mr-3" mat-raised-button color="primary" >Editar</button>
    </div>
    <div appearance="fill">
      <button [disabled]="IdRegistroSeleccionado == 0"  (click)="activar()" class="mr-3" mat-raised-button color="primary" >Activar</button>
    </div>
  </div>

</form>
