
<div class="row non-selectable ">
  <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 mb-9">
      <div class="header">
          <h4>Asinge la escala valorativa para los niveles educativos</h4>
      </div>          
      <h5 class="color-primary">&nbsp; &nbsp; - DIMENSIÓN. Asignar valores de la letra F a la letra A (A B C D E F)</h5>
      <h5 class="color-primary">&nbsp; &nbsp; - VALORATIVA. Asignar valores en un rango del 0 al 999</h5>
  </div>
  
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="header">
          <h4 class="color-primary" >Ciclo escolar {{asistente.nombreCicloEscolar}}</h4>
      </div>
  </div>
</div>

<form class="m-3 non-selectable ">

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-12">
      <table #table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
        <ng-container matColumnDef="nombreNivelAcademico">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nivel Academico </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreNivelAcademico}} </td>
        </ng-container>

        <ng-container matColumnDef="idTipoEscalaValorativa">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Escala Valorativa </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <mat-select [disabled]="asistente.cicloEscolarStatus == true" #select [(value)]="element.idTipoEscalaValorativa" (selectionChange)="emitValueIdTipo($event.value, element.idNivelAcademico)">
                <mat-option *ngFor="let tipo of listaTipoDeEscala" [value]="tipo.idTipoEscalaValorativa">
                  {{tipo.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="valorMinimo">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Valor mínimo</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.idTipoEscalaValorativa == 1; else templateLetrasMin">
              <mat-form-field>
                <input [disabled]="element.idTipoEscalaValorativa == 0 || asistente.cicloEscolarStatus == true" matInput [(value)]="element.valorMinimo"
                (change)="emitValueMin($event.target.value, element.idNivelAcademico)" maxlength="3"
                pattern="^[1-9]{3}$" (keypress)="numberOnly($event)"  autocomplete="off" required>
                <mat-icon matSuffix>looks_one</mat-icon>
              </mat-form-field>
            </ng-container>
            <ng-template #templateLetrasMin>
              <ng-container *ngIf="element.idTipoEscalaValorativa == 2; else templateSinAsignarMin">
                <mat-form-field>
                  <input [disabled]="element.idTipoEscalaValorativa == 0 || asistente.cicloEscolarStatus == true" matInput [(value)]="element.valorMinimo"
                  (change)="emitValueMin($event.target.value, element.idNivelAcademico)" maxlength="1"
                  pattern="^[A-Z]{1}$" (keypress)="ABCDEFOnly($event);"  autocomplete="off" required>
                  <mat-icon matSuffix>font_download</mat-icon>
                </mat-form-field>
              </ng-container>
              <ng-template #templateSinAsignarMin>
                <mat-form-field>
                  <input disabled matInput autocomplete="off">
                </mat-form-field>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="valorMaximo">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Valor máximo </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.idTipoEscalaValorativa == 1; else templateLetrasMax">
              <mat-form-field>
                <input [disabled]="element.idTipoEscalaValorativa == 0  || asistente.cicloEscolarStatus == true" matInput [(value)]="element.valorMaximo"
                (change)="emitValueMax($event.target.value, element.idNivelAcademico)" maxlength="3"
                pattern="^[1-9]{3}$" (keypress)="numberOnly($event)"  autocomplete="off"  required>
                <mat-icon matSuffix>looks_one</mat-icon>
              </mat-form-field>
            </ng-container>
            <ng-template #templateLetrasMax>
              <ng-container *ngIf="element.idTipoEscalaValorativa == 2; else templateSinAsignarMax">
                <mat-form-field>
                  <input [disabled]="element.idTipoEscalaValorativa == 0 || asistente.cicloEscolarStatus == true" matInput [(value)]="element.valorMaximo"
                  (change)="emitValueMax($event.target.value, element.idNivelAcademico);"
                  maxlength="1" pattern="^[A-Z]{1}$" (keypress)="ABCDEFOnly($event);"  autocomplete="off" required>
                  <mat-icon matSuffix>font_download</mat-icon>
                </mat-form-field>
              </ng-container>
              <ng-template #templateSinAsignarMax>
                <mat-form-field>
                  <input disabled matInput autocomplete="off">
                </mat-form-field>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)"
          [ngClass]="(IdRegistroSeleccionado == 0)?'':{hovered: row.hovered, highlighted: selection.isSelected(row)}"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
        </tr>
      </table>
      <div style="text-align: center;" class="mat-row cdk-row ng-star-inserted hovered mat-elevation-z8" *ngIf="dataTable.length === 0">
        <p>&nbsp;</p>
        <p>No hay datos. Asigne niveles educativos para listar contenido</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>

</form>
<br>
  <div class="row justify-content-md-center">
    <div appearance="fill">
      <button class="mr-3" mat-raised-button color="primary" (click)="save()" >Guardar</button>
    </div>
  </div>

