<div style="text-align: center;">
    <h2 mat-dialog-title>Editar Area</h2>

    <mat-dialog-content class="mat-typography">
        <!-- <p>Guardar nueva area</p> -->
        <form class="m-3" [formGroup]="areaForm">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> <strong>Area</strong></mat-label>
                    <input matInput placeholder="Nombre" autocomplete="off" formControlName="nombre">
                </mat-form-field>
                <mat-error *ngIf="areaForm.get('nombre').hasError('required')">
                    El nombre del area es requerido
                </mat-error>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <section class="example-full-width" appearance="fill">
                    <mat-checkbox formControlName="activar"><strong class="txtActivar"> Activar</strong></mat-checkbox>
                </section>
            </div>
        </form>

    </mat-dialog-content>

    <mat-dialog-actions>
        <div appearance="fill">
            <button [disabled]='!areaForm.valid' type="submit" class="mr-3" mat-raised-button color="primary"
                (click)="actualizarArea()">Guardar</button>
        </div>
        <button class="mat-raised-button" (click)="closeModal(false, false)"> Cancelar</button>
    </mat-dialog-actions>
</div>