<div class="row non-selectable ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-12">
    </div>  
</div> 

<div class="row non-selectable ">
    <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 mb-9">
        <div class="header">
            <h4>Seleccione los niveles educativos que desea asignar al ciclo</h4>
        </div>
    </div>
    
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="header">
            <h4 class="color-primary" >Ciclo escolar {{asistente.nombreCicloEscolar}}</h4>
        </div>
    </div>
</div>

<form class="m-3 non-selectable ">
    <table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- idCicloEscolar Column -->
        <ng-container matColumnDef="seleccionar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Seleccionar </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox [(ngModel)]="element.seleccionar" [(name)]="element.idNivelAcademico" [checked]="element.seleccionar == 1">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- nombreCiclo Column -->
        <ng-container matColumnDef="nivelEducativo">
            <th mat-header-cell *matHeaderCellDef> Nivel educativo</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreNivelAcademico}} </td>
        </ng-container>

        <ng-container matColumnDef="abreviatura">
            <th mat-header-cell *matHeaderCellDef> Abreviatura </th>
            <td mat-cell *matCellDef="let element"> {{element.abreviatura }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
            [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false">
        </tr>
    </table>
    <br>
    <div class="row justify-content-md-center">
        <div appearance="fill">
            <button class="mr-3" mat-raised-button color="primary"
                (click)="guardarConfiguracionNivelEducativo()">Guardar</button>
        </div>
    </div>
</form>
