<div style="text-align: center;">
  <h2 mat-dialog-title>{{ title }} </h2>

  <mat-dialog-content class="mat-typography">
    <p>Configurar valor mínimo y máximo en base a la escala {{(escala.idTipoEscalaValorativa == 1) ? 'DIMENSIÓN' :  'VALORATIVA'}} {{escala.valorMinimo}} - {{escala.valorMaximo}}</p>
    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-form-field>  
        <input matInput placeholder="Nombre Rango Evaluativo" formControlName="nombreRangoEvaluativo" required  autocomplete="off">
      </mat-form-field>

      &nbsp;&nbsp; &nbsp;&nbsp;
      <mat-form-field>
        <input matInput placeholder="Abreviatura" formControlName="abreviatura" required  autocomplete="off" maxlength="4">
      </mat-form-field>
      <br>

      <mat-form-field *ngIf="escala.idTipoEscalaValorativa == 1">
          <input  matInput placeholder="Valor mínimo" 
          formControlName="valorMinimo" required  maxlength="3"  (keypress)="numberOnly($event)" 
          autocomplete="off" (change)="isValidMyMinNumber()">
          <mat-hint *ngIf="!valueMinIsValid" class="color-danger">Debe ser mayor o igual que {{escala.valorMinimo}}</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="escala.idTipoEscalaValorativa == 2">
          <input  matInput placeholder="Valor mínimo" 
          formControlName="valorMinimo" required  maxlength="1" (keypress)="ABCDEFOnly($event)" 
          autocomplete="off" (change)="isValidMyMinLetter()">
          <mat-hint *ngIf="!valueMinIsValid" class="color-danger">Debe ser mayor o igual que {{escala.valorMinimo}}</mat-hint>
      </mat-form-field>

      &nbsp;&nbsp; &nbsp;&nbsp;

      <mat-form-field *ngIf="escala.idTipoEscalaValorativa == 1">
        <input  matInput placeholder="Valor máximo" 
        formControlName="valorMaximo" required  maxlength="3"  (keypress)="numberOnly($event)" 
        autocomplete="off" (change)="isValidMyMaxNumber()">
        <mat-hint *ngIf="!valueMaxIsValid" class="color-danger">Debe ser mayor o igual que {{escala.valorMinimo}} y menor o igual que {{escala.valorMaximo}}</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="escala.idTipoEscalaValorativa == 2" >
        <input matInput placeholder="Valor máximo" 
        formControlName="valorMaximo" required  maxlength="1" (keypress)="ABCDEFOnly($event)" 
        autocomplete="off" (change)="isValidMyMaxLetter()">
        <mat-hint *ngIf="!valueMaxIsValid" class="color-danger">Debe ser mayor o igual que {{escala.valorMinimo}} y menor o igual que {{escala.valorMaximo}}</mat-hint>
      </mat-form-field>
      <br>

      &nbsp;&nbsp;
      <br>
      <mat-form-field>
        <mat-select formControlName="idColor" placeholder="Color" required>
          <mat-option *ngFor="let color of listaColores" [value]="color.idColor"  (click)="setColor(color.idColor)">
            <p [ngStyle]="{'background-color': getColor(color.idColor)}">&nbsp;{{color.nombreColor}}&nbsp;</p>
          </mat-option>
        </mat-select>
        <p [ngStyle]="{'background-color': getColor(idColor)}">&nbsp;</p>
      </mat-form-field>

      &nbsp;&nbsp; &nbsp;&nbsp;

      <mat-checkbox id="aprobado" color="primary" formControlName="aprobado">Calificación aprobatoria</mat-checkbox>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div appearance="fill">
      <button type="submit" class="mr-3" mat-raised-button color="primary" [disabled]="!form.valid || !valueMinIsValid || !valueMaxIsValid" (click)="save()">Guardar</button>
    </div>
    <button class="mat-raised-button" (click)="close()"> Cancelar</button>
  </mat-dialog-actions>
</div>
