<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">Asistente Académico</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a
              >
            </li>
            <li class="breadcrumb-item active">Asistente Académico</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Asistente -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step label="Ciclo Escolar" [completed]="false">
              <app-ciclo-escolar></app-ciclo-escolar>
              <div>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''" mat-button (click)="siguiente(enumComponentes.CicloEscolar)">Siguiente</button>
              </div>
            </mat-step>
            <mat-step label="Nivel Educativo" [completed]="false">
              <app-nivel-educativo></app-nivel-educativo>
              <div>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button matStepperPrevious (click)="atras(enumComponentes.NivelEducativo)">Regresar</button>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button (click)="siguiente(enumComponentes.NivelEducativo)">Siguiente</button>
              </div>
            </mat-step>
            <mat-step label="Periodo Académico" [completed]="false" >
              <app-periodo-academico></app-periodo-academico>
              <div>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button matStepperPrevious (click)="atras(enumComponentes.PeriodoAcademico)" >Regresar</button>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button (click)="siguiente(enumComponentes.PeriodoAcademico)">Siguiente</button>
              </div>
            </mat-step>
            <mat-step label="Escala Valorativa" [completed]="false">
              <app-escala-valorativa [asistente]="asistente"></app-escala-valorativa>
              <div>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button matStepperPrevious  (click)="atras(enumComponentes.EscalaValorativa)">Regresar</button>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button (click)="siguiente(enumComponentes.EscalaValorativa)">Siguiente</button>
              </div>
            </mat-step>
            <mat-step label="Rango Evaluativo" [completed]="false">
              <app-rango-evaluativo></app-rango-evaluativo>
              <div>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button matStepperPrevious (click)="atras(enumComponentes.RangoEvaluativo)">Regresar</button>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button (click)="siguiente(enumComponentes.RangoEvaluativo)">Siguiente</button>
              </div>
            </mat-step>
            <mat-step label="Grados" [completed]="false">
              <app-grados></app-grados>
              <div>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button matStepperPrevious (click)="atras(enumComponentes.Grados)">Regresar</button>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button (click)="siguiente(enumComponentes.Grados)">Siguiente</button>
              </div>
            </mat-step>
            <mat-step label="Grupos" [completed]="false">
              <app-grupos></app-grupos>
              <div>
                <button [color]="asistente.idCicloEscolar > 0 ? 'primary' : ''"  mat-button matStepperPrevious (click)="atras(enumComponentes.Grupos)">Regresar</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </div>
    </div>
  </div>
</section>
