<div style="text-align: center;">
    <h2 mat-dialog-title>{{ title }} {{nombreCicloEscolar}}</h2>

    <mat-dialog-content class="mat-typography">
        <p>Selecciona fecha inicio y fecha final del ciclo escolar para continuar</p>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="pickerInicio" [formControl]="fechaInicio" (dateChange)="changeFechaInicio('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Fecha Final</mat-label>
              <input matInput [matDatepicker]="pickerFinal" [formControl]="fechaFinal"  (dateChange)="changeFechaFinal('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
              <mat-datepicker #pickerFinal></mat-datepicker>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div appearance="fill">
          <button [disabled]='!formIsValid' type="submit" class="mr-3" mat-raised-button color="primary" (click)="guardar()" >Guardar</button>
        </div>
        <button class="mat-raised-button" (click)="close()"> Cancelar</button>
    </mat-dialog-actions>
</div>