
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-primary{
  color: #3F51B5 !important;
}

.color-danger{
  color: #b53f4f !important;
}


.non-selectable {
	-moz-user-select: none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
