<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>

<cors enabled="true" failUnlistedOrigins="true">
	<add origin="*" />
	<add origin="http://198.71.50.5:500*"  allowCredentials="true"  allowed="true"/>

</cors>

  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.html" />
      </rule>
    </rules>
  </rewrite>

</system.webServer>


</configuration>
